.region--footer__region-1 {
  background-color: var(--light-grey);
  color: var(--grey);
}

.region--footer__region-1 .nav__pre-footer-menu {
  display: grid;
  grid-column: 2 / 14;
  gap: var(--gap-unit);
}

.region--footer__region-1 .pre-footer-menu {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(12, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--gap-unit);
}
.region--footer__region-1 .pre-footer-menu > .menu-item {
  grid-column: span 12;
  gap: var(--gap-unit);
}

@media screen and (min-width: 57rem) {
  .region--footer__region-1 .pre-footer-menu > .menu-item {
    grid-column: span 4;
    gap: var(--gap-unit);
  }
}

.region--footer__region-1 .pre-footer-menu > .menu-item span {
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.region--footer__region-1 .pre-footer-menu > .menu-item .sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.region--footer__region-1 .pre-footer-menu > .menu-item:first-of-type .sub-menu a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.25rem 2rem;
  border: 2px solid var(--grey);
  color: var(--grey);
  font-weight: 700;
  transition: all 0.3s;
}

.region--footer__region-1 .pre-footer-menu > .menu-item:first-of-type .sub-menu a:hover {
  background-color: var(--grey);
  color: white;
}

.region--footer__region-1 .pre-footer-menu > .menu-item:last-of-type .sub-menu .donate {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.4rem 2rem;
  background-color: var(--vpl-blue);
  color: white;
  font-weight: 700;
  transition: all 0.3s;
}


.region--footer__region-1 .pre-footer-menu > .menu-item:last-of-type .sub-menu .donate:hover {
  background-color: var(--secondary--dark-blue);
  color: white;
}


.region--footer__region-1 .pre-footer-menu .kids,
.region--footer__region-1 .pre-footer-menu .teens {
  color: transparent;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: none;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.region--footer__region-1 .pre-footer-menu .kids {
  height: 2rem;
  width: 6rem;
  background-image: url("/sites/nllama/themes/quietly/images/kids.svg");
}

.region--footer__region-1 .pre-footer-menu .teens {
  height: 2rem;
  width: 7rem;
  background-image: url("/sites/nllama/themes/quietly/images/teens.svg");
}