.search-bar {
  display: none;
}

/* temp styles */
#block-quietly-placeholdertextblockforaregioninthepageduringthemedev p {
  display: none;
}

@media screen and (min-width: 85rem) {
  .search-bar {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: calc(var(--row-height) / 2);
  }

  .region--header__region-5 {
    grid-column: 2 / 14;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background-color: black;
    color: white;
  }

  p {
    margin: 0;
  }

  #block-quietly-placeholdertextblockforaregioninthepageduringthemedev p {
    display: block;
  }
}