h1 {
  font-size: calc(var(--h1) * 0.75);
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: calc(var(--h2) * 0.75);
  margin: 0;
  line-height: 1;
}

h3 {
  font-size: calc(var(--h3) * 0.75);
  margin: 0;
  line-height: 1;
}

h4 {
  font-size: calc(var(--h4) * 0.75);
  margin: 0;
  line-height: 1;
}

p {
  font-size: var(--p);
}

blockquote {
  margin: var(--gap-unit);
  font-size: var(--p);
  background-color: var(--vpl-blue);
  color: white;
}

caption {
  font-size: var(--small);
}

/* Links */
/* Dark blue has better accessiblity */
a {
  color: var(--secondary--dark-blue);
}

a:hover,
a:focus {
  color: var(--vpl-blue);
}

@media screen and (min-width: 57rem) {
  h1 {
    font-size: var(--h1);
    margin: 0;
    line-height: 1;
  }

  h2 {
    font-size: var(--h2);
    margin: 0;
    line-height: 1;
  }

  h3 {
    font-size: var(--h3);
    margin: 0;
    line-height: 1;
  }

  h4 {
    font-size: var(--h4);
    margin: 0;
    line-height: 1;
  }

  p {
    font-size: var(--p);
  }

  blockquote {
    margin: var(--gap-unit);
    font-size: var(--p);
    background-color: var(--vpl-blue);
    color: white;
  }

  caption {
    font-size: var(--small);
  }

  /* Links */
  /* Dark blue has better accessiblity */
  a {
    color: var(--secondary--dark-blue);
  }

  a:hover,
  a:focus {
    color: var(--vpl-blue);
  }

  /* Heading Links */
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h1 a:hover,
  h1 a:focus,
  h2 a:hover,
  h2 a:focus,
  h3 a:hover,
  h3 a:focus,
  h4 a:hover,
  h4 a:focus,
  h5 a:hover,
  h5 a:focus,
  a:hover,
  a:focus {
    text-decoration: none;
  }
}